<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
<table class="table">
<tr>
	<th>프로모션 ID</th>
	<td>
	<input type="text" class="form-control" id="promotion">
	</td>
</tr>
<tr>
	<th>판매상품 ID</th>
	<td><input type="text" class="form-control" id="promotion">
	</td>
</tr>
<tr>
	<th>판매상품 수량</th>
	<td><input type="text" class="form-control" id="promotion">
	</td>
</tr>
<tr>
	<th>수신자MDN</th>
	<td><input type="text" class="form-control" id="promotion">
	</td>
</tr>
<tr>
	<th>고객사 식별 ID</th>
	<td><input type="text" class="form-control" id="promotion">
	</td>
</tr>
<tr>
	<th>고객사 트랜잭션 아이디</th>
	<td><input type="text" class="form-control" id="promotion">
	</td>
</tr>
<tr>
	<td colspan="2" align="center">
		<a href="cslssend" class="btn btn-primary">쿠폰 발행</a>
		<a href="resend" class="btn btn-primary">쿠폰 재전송</a>
		<a href="#" class="btn btn-primary">쿠폰 취소</a>
		<a href="#" class="btn btn-primary">쿠폰 상세정보</a>
	</td>
</tr>
</table>
</body>
</html>